
@model Movie

 <h1 class="text-danger">
	Are you sure you want to delete movie?
 </h1>


 <form class="row g-3" asp-controller="Movie" asp-action="Delete" method="post">
       <h4> Name: @Model.Name</h4>
       
       <h4> Code: @Model.Code</h4>

       <h4> LengthInMin: @Model.LengthInMin</h4>
     
       <h4> Release Date: @Model.ReleaseDate</h4>

       <h4> Genre: @Model.Genre</h4>

       <h4> Description: @Model.Description</h4>


      
      <div class="col-12">
        <a class=" btn btn-success" href = "/movie/index">Cancel</a>
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
      </div>
 </form>

  


