@model List<Movie>
<h4 class="text-center"> All Movies </h4>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Movie Name</th>
			<th scope="col">Movie Code</th>
			<th scope="col">Genre</th>
			<th scope="col">Description</th>
			<th scope="col">Release Date</th>
			<th scope="col">Movie Length</th>
		</tr>
	</thead>
	<tbody>
		@{
			int i = 1;
		}
		@foreach (var movie in Model)
		{
			<tr>
				<th scope="row">@(i++)</th>
				<td>@movie.Name</td>
				<td>@movie.Code</td>
				<td>@movie.Genre</td>
				<td>@movie.Description</td>
				<td>@movie.ReleaseDate</td>
				<td>@movie.LengthInMin</td>
			</tr>
		}
	</tbody>
</table>
<a class = "btn btn-success" href="/movie/add">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
</svg> Add movie</a>
