@using MovieManagement.ViewModel
@model List<MovieViewModel>

@{
    ViewData["Title"] = "All Movies";
}
<h4 class="">All movies</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Serial No.</th>
       <th scope="col">Banner</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Genre</th>
      <th scope="col">Movie Code</th>
      <th scope="col">Description</th>
      <th scope="col">Release Date</th>
      <th scope="col">Movie Length</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @{
          int i = 1;
      }

         @foreach (var movieViewModel in Model)
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td  class="p-100"><img class="img-thumbnail img-fluid" src="@movieViewModel.BannerDataUrl"></td>
                <td>@movieViewModel.Name</td>
                <td>@movieViewModel.Genre</td>
                <td>@movieViewModel.Code</td>
                <td>@movieViewModel.Description</td>
                <td>@movieViewModel.ReleaseDate</td>
                <td>@movieViewModel.LengthInMin</td>
                <td>
                     <a asp-controller="Movie" asp-action="Update" class="btn btn-outline-success"  asp-route-Id ="@movieViewModel.Id">Edit</a>
                     <a asp-controller="Movie" asp-action="Delete" class="btn btn-outline-danger"  asp-route-Id ="@movieViewModel.Id">Remove</a>
                </td>
             
            </tr>
        }
       
  </tbody>
</table>
<a class = "btn btn-success" href="/movie/add">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
</svg> Add movie</a>
